<h2 class="d-flex justify-content-between">
    <span>
        Review
        <span class="badge badge-light">{{items.length}}</span>
    </span>
    <label for="search" class="sr-only">Suche</label>
    <input class="form-control ml-3" id="search" type="search" placeholder="search" [(ngModel)]="searchText">
</h2>
<div *ngIf="showNoItemHint" class="alert alert-light" role="alert">
    There are no items to review. Take a break! <i class="material-icons">free_breakfast</i>
</div>
<div class="card-columns">
    <app-list-item [items]="items" [searchText]="searchText"></app-list-item>
</div>