<div class="container">
    <br>
    <h1 id="about">Über uns</h1>
    <br>
    <h2>Wer steht hinter GreenStream?</h2>
    <br>
    <p>Wir sind ein Team von Informatikstudierenden aus Göttingen. Wir wollen anderen helfen, sich einfach, strukturiert und regelmäßig über verschiedene Aspekte von Nachhaltigkeit zu informieren.</p>
    <p>Diese Projekt ist in unserer Freizeit entstanden und ist als Work-In-Progress zu verstehen. Wir sammeln hiermit Erfahrungen die unser Wissen aus dem Studium vertiefen und es uns ermöglichen es praktisch anzuwenden.</p>
    <p>Wir werden nicht gesponsert. Wir finden die Konzepte, die wir vorstellen, spannend. Unser Ziel ist es, über mögliche Alternativen zu informieren und nicht konkrete Produkte oder Websites zu bewerben.</p>
</div>