<div class="cards">
    <app-list-item [items]="itemService.getItems()" [loading]="itemService.isLoading()"></app-list-item>
    <div *ngIf="itemService.moreItemsAvailable()" class="d-flex justify-content-center pb-3 pt-2">
        <button type="button" (click)="itemService.loadMore(itemService.loadedTopic, 10, itemService.getItems()[itemService.getItems().length-1].liked)" class="btn btn-secondary ">Weitere Laden</button>
    </div>
    <div *ngIf="itemService.getItems().length == 0 && !itemService.isLoading()" class="alert alert-light m-2" role="alert ">
        You can like an item by clicking the <i class="material-icons" title="plus">favorite_border</i>-icon on the list of items on the main page.
    </div>
</div>