.red {
    color: #D32F2F;
}

.pointer {
    cursor: pointer;
}

.h5 {
    color: black;
}

.green {
    color: #70B45A;
}

.gray {
    color: lightgray;
}

.rotate45 {
    transform: rotate(-45deg);
}

button {
    border: none;
    background-color: transparent;
    text-align: left;
}

.load-wraper {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgb(211, 211, 211);
    z-index: 44;
    overflow: hidden;
    border-radius: 5px;
}

.activity {
    position: absolute;
    left: -45%;
    top: -50%;
    height: 200%;
    width: 45%;
    transform: rotate(15deg);
    background-image: linear-gradient(to left, rgba(251, 251, 251, .05), rgba(251, 251, 251, .3), rgba(251, 251, 251, .6), rgba(251, 251, 251, .3), rgba(251, 251, 251, .05));
    background-image: -moz-linear-gradient(to left, rgba(251, 251, 251, .05), rgba(251, 251, 251, .3), rgba(251, 251, 251, .6), rgba(251, 251, 251, .3), rgba(251, 251, 251, .05));
    background-image: -webkit-linear-gradient(to left, rgba(251, 251, 251, .05), rgba(251, 251, 251, .3), rgba(251, 251, 251, .6), rgba(251, 251, 251, .3), rgba(251, 251, 251, .05));
    animation: loading 1s infinite;
    z-index: 45;
}

@keyframes loading {
    0% {
        left: -45%;
    }
    100% {
        left: 100%;
    }
}

.counter {
    font-size: 16px;
    line-height: 24px;
}