<div class="container card card-body">
    <div class="settings">
        <div class="d-flex">
            <svg height="200" width="200" class="m-3">
                <circle cx="100" cy="100" r="100" stroke="none" fill="aqua" />
                <text x="100" y="100" text-anchor="middle" dominant-baseline="middle" stroke="none" font-color="white"
                font-size="100">{{loginService.user.username.substring(0,2)}}</text>
            </svg>
        </div>
        <form [formGroup]="settings" class="" (ngSubmit)="submit()">
            <h3>Sprachen</h3>
            <div class="form-group m-0" formArrayName="selectedLanguage"
                *ngFor="let order of ordersFormArray.controls; let i = index">
                <label>
                    <input class="" type="checkbox" [formControlName]="i">
                    {{languages[i].name}}
                </label>
            </div>
            <small>Select at least one language, otherwise english will be selected.</small>
            
            <h3>Benutzername</h3>
            <input class="form-control" type="text" name="username" id="username" formControlName="username">
            
            <h3>Email</h3>
            <input class="form-control" type="text" value="{{loginService.user.email}}" disabled>

            <h3>Role</h3>
            <input class="form-control" type="text" value="{{loginService.user.role}}" disabled>
            <br>
            <button type="submit" class="btn btn-primary">Save changes</button>

            <h3>Account</h3>
            <small>Beim Löschen des Accounts werden all deine Persöhnlichen Daten gelöscht. Die Einträge und das Feedback werden anonym weiter gespeichert.</small>
            <button class="btn btn-danger mr-auto" (click)="deleteAccount()">Account löschen</button>
        </form>
    </div>
</div>