<div *ngIf="showInput">
    <h1>Gib dein neues Passwort ein:</h1>

    <div class="form-group">
        <!-- <label for="title">Passwort:</label> -->
        <div *ngIf="password.invalid" class="text-muted">
            <div *ngIf="password.errors.required">
                The password is required.
            </div>
            <div *ngIf="password.errors.minlength">
                The password must be at least 8 characters long.
            </div>
        </div>
        <input type="text" id="password" class="form-control" [formControl]="password" placeholder="Password">
    </div>
    <div>
        <a (click)="save()" class="btn btn-outline-primary w-100" [ngClass]="{'disabled': !password.valid}">Speichern</a>
    </div>
</div>
<div *ngIf="!token">
    <h1>Ein Fehler ist aufgetreten:</h1>
    <div class="alert alert-danger" role="alert">
        Der Token ist ungültig. Bitte versuche es nochmal!
    </div>
</div>
<div *ngIf="displayResponse">
    <div class="alert {{type}}" role="alert">
        {{message}}
    </div>
    <div *ngIf="error != ''">
        <p>
            <button type="button" class="btn btn-outline-primary" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                Weitere Informationen
            </button>
        </p>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
            <div class="card">
                <div class="card-body">
                    <p>{{error}}</p>
                </div>
            </div>
        </div>
    </div>
</div>