<span (click)="close()" class="modal-backdrop"></span>
<div class="dialog">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between list-item-header">
                <h5 class="card-title" target="_blank" title="open in a new tab" (click)="openItem(item)">
                    {{item.title || "Loading..."}}
                    <span *ngIf="item.reviewed==0" class="text-truncate text-muted"> | Not reviewed yet!</span>
                </h5>
                <div class="d-flex align-items-start">
                    <i class="material-icons green mx-2" *ngIf="item.reviewed==1 && item.created_by_id == loginService.user.id" title="Reviewed by Admin and Published">verified</i>
                    <i class=" material-icons action" (click)="updateStatus(item.id, 'liked')">{{
                        item.liked | likeIcon}}</i>

                    <i class=" material-icons action" (click)="updateStatus(item.id, 'watchlist')">{{ item.watchlist | watchList
                        }}</i>
                    <span *ngIf="loginService.isLoggedIn">
                        <i class="material-icons action" *ngIf="loginService.user.role === 'admin'"
                            (click)="review(item.id)" title="{{ item.reviewed ? 'Reviewed': 'Review'}}">{{ item.reviewed ? 'check_box': 'check_box_outline_blank'}}</i>

                    </span>
                    <i class="material-icons action" (click)="close()" title="Schließen">close</i>
                </div>
            </div>
            <p class="card-text">{{item.description || "Loading..."}}</p>
            <div *ngFor="let label of itemLabels" class="badge badge-{{label.color}} mr-2 mb-3">{{label.count}} {{label.name}}</div>
            <div *ngIf="loginService.isLoggedIn && (loginService.user.role =='admin') && feedback.length != 0">
                <h6>Gegebenes Feedback:</h6>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let entry of feedback; let i = index">
                        <div>
                            <span class="text-muted" title="{{entry.created | date:'medium'}}">
                                {{entry.username}}:
                            </span> {{entry.feedback}}
                        </div>
                        <div>
                            <span class="badge badge-{{entry.color}}">{{entry.name}}</span>
                            <i class="material-icons action p-0" (click)="deleteFeedback(entry.feedback_id, i)" *ngIf="entry.feedback_id">delete</i>
                        </div>
                    </li>
                </ul>
            </div>
            <br>
            <div *ngIf="loginService.isLoggedIn">
                <h6>Hinterlasse ein Feedback:</h6>
                <div class="btn-group btn-group-toggle my-2" ngbRadioGroup name="radioBasic" [(ngModel)]="label">
                    <label ngbButtonLabel class="btn-outline-{{label.color}}" *ngFor="let label of labels; let i = index">
                      <input ngbButton type="radio" [value]="label.id"> {{label.name}}
                    </label>
                </div>
                <textarea class="w-100" rows="10" [formControl]="feedbackText" type="text" name="" id="" placeholder="Your Feedback here"></textarea>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary ml-2 mt-auto" (click)="addFeedback()">Save</button>
                </div>
            </div>
            <div class="alert alert-primary" *ngIf="!loginService.isLoggedIn">
                Um Feedback geben zu können bitte einloggen!
            </div>
        </div>
    </div>
</div>