    h1,
    h2,
    h3 {
        text-decoration: underline;
        text-decoration-color: lightgrey;
        text-decoration-thickness: .1em;
    }
    
    .carousel-caption {
        background-color: rgba(0, 0, 0, 0.4);
        padding-top: 0;
    }
    
    .carousel-caption a {
        color: white;
        display: block;
        text-decoration: none;
    }
    
    .picsum-img-wrapper {
        min-height: 20em;
        max-height: 50vh;
        overflow: hidden;
    }
    
    ul {
        list-style: none;
        padding-left: 0;
    }
    
    .caption-title {
        font-size: 1.75rem;
        padding-bottom: .5em;
        cursor: pointer;
        font-weight: 400;
    }
    
    .caption-description {
        font-weight: 700;
    }
    
    .carousel-caption:hover .caption-title {
        text-decoration: underline;
    }
    
    .list-title {
        color: black;
        display: block;
        font-size: 1.75rem;
        cursor: pointer;
        font-weight: 400;
    }
    
    .list-description {
        display: block;
        color: black;
    }
    /*     
    .list-description:hover {
        text-decoration: none;
    } */
    
    .list-title:hover {
        text-decoration: underline;
    }
    
    .list-description:hover .list-title {
        text-decoration: underline;
    }