<h1 id="home">Spannende Ergebnisse aus der Forschung</h1>
<br>
<ngb-carousel [showNavigationIndicators]="false" [interval]="2500" [pauseOnHover]="true" [pauseOnFocus]="true">
    <ng-template ngbSlide *ngFor="let item of items">
        <div class="picsum-img-wrapper">
            <img [src]="item.image" class="w-100" alt="{{item.title}}">
        </div>
        <div class="carousel-caption">
            <a href="{{item.link}}" class="caption-title" rel="noopener noreferrer" target="_blank">{{item.title}}</a>
            <a href="{{item.link}}" rel="noopener noreferrer" target="_blank">{{item.description}}</a>
        </div>
    </ng-template>
</ngb-carousel>
<br>
<h1>Neugierig?</h1>
<br>
<ul>
    <li>Schaue in der <a [routerLink]="['../list']">Liste</a> nach weiteren Ideen!</li>
    <li>Lade dir die App herrunter. (Coming soon!)</li>
</ul>