<h1 id="home">Mach die Welt zu einem besseren Ort!</h1>
<br>
<ul>
    <li>Nachhaltigkeit</li>
    <li>Umweltbewusstsein</li>
    <li>Forschung</li>
    <li>Wissenschaft</li>
</ul>
<br>
<ngb-carousel *ngIf="images" style="height: 500px;">
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[0]" alt="Random first slide">
        </div>
        <div class="carousel-caption">
            <h3>Random Fact</h3>
            <p>Hier könnten mehr Informationen stehen, damit Mensch auch besser bescheid weiß.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[1]" alt="Random second slide">
        </div>
        <div class="carousel-caption">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[2]" alt="Random third slide">
        </div>
        <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
    </ng-template>
</ngb-carousel>