    h1,
    h2,
    h3 {
        text-decoration: underline;
        text-decoration-color: lightgrey;
        text-decoration-thickness: 5px;
    }
    
    .carousel-caption {
        background-color: rgba(0, 0, 0, 0.3);
        padding-top: 0;
    }
    
    .carousel-caption a {
        color: white;
        display: block;
        text-decoration: none;
    }
    
    .picsum-img-wrapper {
        min-height: 20em;
        max-height: 50vh;
        overflow: hidden;
    }
    
    ul {
        list-style: none;
        padding-left: 0;
    }
    
    .caption-title {
        font-size: 1.75rem;
        padding-bottom: .5em;
        cursor: pointer;
    }
    
    .carousel-caption:hover .caption-title {
        text-decoration: underline;
    }