<div *ngFor="let item of items | filter: searchText let i = index" class="item">
    <div class="list-item">
        <button class="h5 card-title d-flex justify-content-between" target="_blank" title="Open in Browser"
            (click)="openItem(item.url, item.id, i)">
            {{item.title}}
            <i class="material-icons green pl-2" [ngClass]="{'rotate45': item.type_id>7}" title="{{item.name}}">{{item.type_id | typeIcon}}</i>
        </button>
        <p class="text-muted">{{item.description}}</p>
        <div class="icon-footer d-flex justify-content-between">
            <span>
                <button title="like/unlike" (click)="updateStatus({id: item.id, liked: !item.liked}, i)">
                    <i class="material-icons action">{{item.liked | likeIcon}}</i>
                </button>
                <button title="watch later" (click)="updateStatus({id: item.id, watchlist: !item.watchlist}, i)">
                    <i class="material-icons action">{{item.watchlist | watchList}}</i>
                </button>
            </span>
            <span *ngIf="loginService.isLoggedIn" class="my-auto">
                <i class="material-icons green" *ngIf="item.created_by_id == loginService.user.id"
                    title="Reviewed by Admin and Published">{{item.reviewed | reviewed}}</i>
            </span>

            <div>
                <i class="material-icons action" title="Edit Item"
                    *ngIf="loginService.isLoggedIn && loginService.user.role === 'admin'"
                    [routerLink]="['..', { outlets: { itemModal: ['edit', item.id] } }]" tabindex="-1">edit</i>
                <i class="material-icons action red" title="Delete Item"
                    *ngIf="loginService.isLoggedIn && loginService.user.role === 'admin'"
                    (click)="deleteItem(item.id)">delete</i>
                <i class="material-icons action" [routerLink]="['..', { outlets: { itemModal: ['item', item.id] } }]"
                    title="give feedback" tabindex="-1">feedback</i>
            </div>
        </div>
    </div>
</div>