<div *ngFor="let item of items | filter: searchText let i = index" class="item">
    <div class="list-item">
        <h5 class="card-title" target="_blank" rel="noopener noreferrer" title="Open in Browser"
            (click)="openItem(item.url, item.id, i)">
            <i class="material-icons rotate45" title="{{item.name}}">{{item.name | typeIcon }}</i>
            {{item.title}}
        </h5>
        <p class="text-muted">{{item.description}}</p>
        <div class="icon-footer d-flex justify-content-between">
            <span>
                <i class="material-icons action" title="like/unlike"
                    (click)="updateStatus({id: item.id, liked: !item.liked}, i)">{{item.liked | likeIcon}}</i>
                <i class="material-icons action" title="watch later"
                    (click)="updateStatus({id: item.id, watchlist: !item.watchlist}, i)">{{item.watchlist | watchList}}</i>
            </span>
            <span *ngIf="loginService.isLoggedIn" class="my-auto">
                <i class="material-icons green" *ngIf="item.created_by_id == loginService.user.id"
                    title="Reviewed by Admin and Published">{{item.reviewed | reviewed}}</i>
            </span>

            <div>
                <i class="material-icons action" title="Edit Item"
                    *ngIf="loginService.isLoggedIn && loginService.user.role === 'admin'"
                    [routerLink]="['..', { outlets: { itemModal: ['edit', item.id] } }]">edit</i>
                <i class="material-icons action red" title="Delete Item"
                    *ngIf="loginService.isLoggedIn && loginService.user.role === 'admin'"
                    (click)="deleteItem(item.id)">delete</i>
                <i class="material-icons action" [routerLink]="['..', { outlets: { itemModal: ['item', item.id] } }]"
                    title="give feedback">feedback</i>
            </div>
        </div>
    </div>
</div>