<div *ngIf="loading" class="d-flex justify-content-center">
    <div class="spinner-border pt-3" role="status">
        <span class="visually-hidden sr-only">Loading...</span>
    </div>
    <!-- <div class="item" *ngFor="let i of [].constructor(15)">
        <div class="list-item">
            <div class="h5 card-title pointer d-flex justify-content-between" style="height: 1.5em;">
                <div class="load-wraper">
                    <div class="activity"></div>
                </div>
            </div>
            <div style="height: 1.5em;margin: 1em 0;">
                <div class="load-wraper">
                    <div class="activity"></div>
                </div>
            </div>
            <div class="icon-footer d-flex justify-content-between">
                <span>
                    <button title="like/unlike">
                        <i class="material-icons action">favorite</i>
                    </button>
                    <button title="watch later">
                        <i class="material-icons action">turned_in_not</i>
                    </button>
                </span>
                <div>
                    <i class="material-icons action" title="give feedback" tabindex="-1">feedback</i>
                </div>
            </div>
        </div>
    </div> -->
</div>
<div class="app-list-item">
    <div *ngFor="let item of items; let i = index" class="item">
        <div class="list-item">
            <button class="h5 card-title pointer d-flex justify-content-between p-0" title="Open in a new Tab" (click)="openItem(item.url, item.id, i)">
                {{item.title}}
                <i class="material-icons green pl-2" [ngClass]="{'rotate45': item.type.id==7}"
                    title="{{item.type.name}}">{{item.type.icon}}</i>
            </button>
            <p class="text-muted d-block pointer" title="Open in a new Tab" (click)="openItem(item.url, item.id, i)">
                {{item.description}}
            </p>
            <div class="icon-footer d-flex justify-content-between">
                <div>
                    <button class="action" title="like/unlike" (click)="updateStatus(item.id, 'liked')">
                        <i class="material-icons pointer">{{item.liked | likeIcon}}</i>
                        <span class="counter">
                            {{item.likes}}
                        </span>
                    </button>
                    <button class="action" title="watch later" (click)="updateStatus(item.id, 'watchlist')">
                        <i class="material-icons pointer">{{item.watchlist | watchList}}</i>
                    </button>
                </div>
                <span *ngIf="loginService.isLoggedIn" class="my-auto">
                    <i class="material-icons green" *ngIf="item.created_by_id == loginService.user.id"
                        title="Reviewed by Admin and Published {{item.reviewed}}">{{item.reviewed | reviewed}}</i>
                </span>
                <div>
                    <i class="material-icons action" title="Edit Item" *ngIf="loginService.isLoggedIn && loginService.user.role === 'admin'" [routerLink]="['..', { outlets: { itemModal: ['edit', item.id] } }]" tabindex="-1">edit</i>
                    <i class="material-icons action red" title="Delete Item" *ngIf="loginService.isLoggedIn && loginService.user.role === 'admin'" (click)="deleteItem(item.id)">delete</i>
                    <i class="material-icons action" [routerLink]="['..', { outlets: { itemModal: ['item', item.id] } }]" title="give feedback" tabindex="-1">feedback</i>
                </div>
            </div>
        </div>
    </div>
</div>