<h2>Datenschutzerklärung</h2>

<h3>1. Einleitung</h3>
Uns liegt das Thema Datenschutz sehr am Herzen, daher wollen wir dir möglichst übersichtlich und verständlich darstellen, welche Daten wir verwenden. Mit dieser Datenschutzerklärung informieren wir dich darüber, wann wir welche Daten erheben, wie wir
diese Daten verwenden und welche Rechte dir zustehen.

<h3>2. Benutzung unserer App oder unserer Webseite</h3>
Wir erstellen um unseren Service bestmöglich betreiben zu können Log-Dateien die Seitenaufrufe dokumentieren. Dabei wird jedoch nur die URL an sich vermerkt, nicht jedoch die Uhrzeit oder wer den Aufruf getätigt hat.


<h4>2.1 Welche Daten unsere App verarbeitet</h4>
In der App erheben wir einige Daten, die gewährleisten, dass wir unsere App auf deinem Gerät gut formatieren können:<br> • Gerätehersteller und Name<br> • Betriebssystem und Version<br> • Appversion<br> Diese Daten speichern wir jedoch nicht extern, sondern
verarbeiten sie nur lokal auf deinem Gerät. Wen du dich in der App anmeldest werden zusätzlich die selben Daten gespeichert wie unter Punkt 2.2 aufgeführt.

<h4>2.2 Welche Daten wir speichern wenn du einen Benutzeraccount hast</h4>
Sobald du dich dafür entscheidest ein Benutzerkonto anzulegen werden folgende Daten erhoben und gespeichert:<br> • Der Benutzername<br> • Ein Hash des Passworts<br> • Die Emailaddresse<br> • Die Uhrzeit wann du Benachrichtigungen erhalten willst <br>• Die Themen, welche du in den Einstellungen als interressant markiert hast<br> • Die von dir ausgewählten Sprachen<br> • Ob du Webseiten in der App öffnen möchtest oder nicht<br> • Der Zeitpunkt der letzten Änderung deiner Daten<br>
<br> Sobald du Feedback gibst wird folgendes verknüpft mit deinem Benutzeraccount gespeichert: <br> • Das Feedback, das du uns über die Feedback-Funktion zusendest<br> • Die Uhrzeit<br> • Der Eintrag auf den sich das Feedback bezieht.<br>
<br> Erstellst du einen Eintrag und bist dabei angemeldet werden folgende Eingaben verknüpft mit deinem Benutzerkonto von dir gespeichert: • Der Titel<br> • Der Inhalt/Die Beschreibung<br> • Die Internetaddresse<br> • Der Type des Eintrages <br> • Die
Sprache des Eintrages<br> • Das Thema des Eintrages<br>
<br> Bist du beim erstellen eines neuen Eintrages nicht angemeldet werden die selben Daten gespeichert, jedoch ohne eine Verbindung zu einem Benutzerkonto.
<br> Sobald du Einträge mit einem Herzen markierst, öffnest oder mit einem Lesezeichen versiehst, werden folgende Daten mit deinem Benutzeraccount verknüpft gespeichert: <br> • Eintrag mit dem du interagiert hast<br> • Ob du den Eintrag mit einem Herz
markiert hast oder nicht<br> • Ob du den Eintrag mit einem Lesezeichen markiert hast oder nicht<br> • Ob du den Eintrag geöffnet hattest. <br>
<br>
<h4>2.3. Welche Daten wir speichern wenn du keinen Benutzeraccount hast oder nicht angemeldest bist</h4>
Hast du keinen Benutzeraccount oder bist auf der Seite nicht angemeldet speichern wir keine Daten die über Punkt 2 hinausgehen.

<h4>2.4 Push-Dienste</h4>
Unsere App nutzt die sogenannte Push-Funktion zur täglichen Anzeige von Beiträgen. Die Verwendung der Push-Dienste erleichtert die Benutzung der App.

<h4>2.5 Weiterleitung</h4>
Durch die Push-Benachrichtigungen und die Nutzung anderer Funktionen in unserer App, zum Beispiel des „Informiere-mich“ - Buttons, wirst du auf andere Websiten weitergeleitet. Damit verlässt du unsere App und betrittst die Webseiten des jeweiligen Betreibers.
Verantwortliche Stelle für die Erhebung von personenbezogenen Daten auf diesen Webseiten oder sozialen Netzwerken sind ausschließlich die jeweiligen Betreiber der jeweiligen Webseiten. Für die Erhebung und Verarbeitung von personenbezogenen Daten gelten
dementsprechend allein deren Datenschutzbestimmungen.

<h4>2.4 Rechtsgrundlage für die Datenverarbeitung</h4>
Rechtsgrundlage für die Verarbeitung der Daten der folgenden Abschnitte (2.3 – 2.6) ist Art. 6 Abs 1 lit. A DSGVO und die bei erstmaliger Installation der App von dir angeforderte Einwilligung.

<h3>3. Welche Rechte hast du?</h3>
Wir sind dir nach der DSGVO verpflicht auf Anfrage alle Daten die wir mit Bezug zu dir speichern herrauszugeben. Dazu schreibst du bitte eine Email an die im Impressum angegebene Person. Darüber hinaus hast du hast das Recht, dich mit Beschwerden an die
Datenschutzaufsichtsbehörde zu wenden. Zuständige Behörde ist Bundesbeauftragte für den Datenschutz und die Informationsfreiheit (BfDI).

<h3>4. Anpassung und Stand der Datenschutzerklärung</h3>
Wir behalten uns vor, diese Datenschutzerklärung falls erforderlich unter Beachtung der geltenden Datenschutzvorschriften anzupassen bzw. zu aktualisieren. Auf diese Weise können wir sie den aktuellen rechtlichen Anforderungen anpassen und Änderungen
unserer Leistungen berücksichtigen, z. B. bei der Einführung neuer Services. Für deinen Besuch gilt die jeweils aktuellste Fassung.
<br>
<br>
<br>
<br> Stand dieser Datenschutzerklärung: 07.11.2020 <br>
<br>
<br>
<br>