<h2>Datenschutzerklärung</h2>
<h3>1. Einleitung</h3>
Uns liegt das Thema Datenschutz sehr am Herzen, daher wollen wir dir
möglichst übersichtlich und verständlich darstellen, welche Daten wir 
verwenden. Mit dieser Datenschutzerklärung informieren wir dich darüber,
wann wir welche Daten erheben, wie wir diese Daten verwenden und welche
Rechte dir zustehen.
<h3>2. Welche Daten werden durch die Nutzung unserer App verarbeitet?</h3>
In der App erheben wir einige Daten, die gewährleisten, dass wir unsere App
auf deinem Gerät gut formatieren können:<br>
• Gerätehersteller und Name<br>
• Betriebssystem und Version<br>
• Appversion<br>
Diese Daten speichern wir jedoch nicht extern.
<h3>2.1 Was speichern wir?</h3>
Wir speichern folgende Daten anonymisiert:<br>
• Das Feedback, das du uns über die Feedback-Funktion zusenden kannst
<h3>2.2 Rechtsgrundlage für die Datenverarbeitung</h3>
Rechtsgrundlage für die Verarbeitung der Daten der folgenden Abschnitte (2.3
– 2.6) ist Art. 6 Abs 1 lit. A DSGVO und die bei erstmaliger Installation der App
von dir angeforderte Einwilligung.
<h3>
    2.3 Feedback
</h3>
Du kannst uns über die Feedback-Funktion Feedback zuschicken, über das wir
uns sehr freuen. Die Feedbackfunktion ermöglicht es uns, die App zu
verbessern. Wir speichern dabei allerdings alleinig das Feedback (also den Text
oder die Meldung und den dazugehörigen Artikel).
<h3>
2.4 Push-Dienste
</h3>
Unsere App nutzt die sogenannte Push-Funktion zur täglichen Anzeige von
Beiträgen. Die Verwendung der Push-Dienste erleichtert die Benutzung der
App.
<h3>
    2.5 Weiterleitung
</h3>
Durch die Push-Benachrichtigungen und die Nutzung anderer Funktionen in
unserer App, zum Beispiel des „Informiere-mich“ - Buttons, wirst du auf andere
Websiten weitergeleitet. Damit verlässt du unsere App und betrittst die
Webseiten des jeweiligen Betreibers. Verantwortliche Stelle für die Erhebung
von personenbezogenen Daten auf diesen Webseiten oder sozialen Netzwerken
sind ausschließlich die jeweiligen Betreiber der jeweiligen Webseiten. Für die 
Erhebung und Verarbeitung von personenbezogenen Daten gelten dementsprechend allein deren Datenschutzbestimmungen.
<h3>
    2.6 Personenbezogene Daten
</h3>
Personenbezogene Daten sind alle Informationen, die sich auf eine identifizierte
oder identifizierbare natürliche Person beziehen. Als identifizierbar wird eine
natürliche Person angesehen, die direkt oder indirekt – insbesondere mittels
Zuordnung zu einer Kennung wie einem Namen, zu einer Kennnummer, zu
Standortdaten, zu einer Online-Kennung – identifiziert werden kann.
Wir speichern keine personenbezogene Daten, sie werden vermieden oder
anonymisiert.
<h3>
    3. Welche Rechte hast du?
</h3>
Du hast das Recht, dich mit Beschwerden an die Datenschutzaufsichtsbehörde
zu wenden. Zuständige Behörde ist Bundesbeauftragte für den Datenschutz
und die Informationsfreiheit (BfDI).
<h3>
    4. Anpassung und Stand der Datenschutzerklärung
</h3>
Wir behalten uns vor, diese Datenschutzerklärung falls erforderlich unter
Beachtung
der
geltenden
Datenschutzvorschriften
anzupassen
bzw.
zu
aktualisieren.
Auf diese Weise können wir sie den aktuellen rechtlichen Anforderungen
anpassen und Änderungen unserer Leistungen berücksichtigen, z. B. bei der
Einführung neuer Services. Für deinen Besuch gilt die jeweils aktuellste
Fassung.
<br>
<br>
<br>
<br>
Stand dieser Datenschutzerklärung: 14.05.2020