<h2 class="d-flex justify-content-between">
    <span>
        Overview
    </span>
    <span class="d-flex">
        <label for="search" class="sr-only">Suche</label>
        <input class="form-control ml-3" id="search" type="search" placeholder="search" [(ngModel)]="searchText">
        <div ngbDropdown placement="bottom-right" class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>Kategorie</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                <form [formGroup]="selection">
                    <div class="form-group m-2" formArrayName="topics">
                        <div *ngFor="let topic of selectionFormArray.controls; let i = index" [formGroupName]="i">
                            <label>
                                <input type="checkbox" formControlName="selected" (change)="submit()">
                                {{topic.value.name}}
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </span>
</h2>
<div class="cards">
    <app-list-item [items]="items" [loading]="loading" [searchText]="searchText"></app-list-item>
</div>
<div *ngIf="moreItemsAvailable && !loading" class="d-flex justify-content-center pb-3 pt-2">
    <button type="button" (click)="getItems(10,items[items.length-1 ].id)" class="btn btn-secondary">Weitere Laden</button>
</div>
<div *ngIf="!moreItemsAvailable && !loading" class="alert alert-light pb-3 pt-2" role="alert">
    There are no more Items in this category.
</div>