input{
    max-width: 3rem;
    border:none;
    padding-right: 0;
}
input:focus::placeholder{
    color: transparent;
    content:"";
}
input:focus{
    max-width: 20rem;
    border: 1px solid #ced4da;
}
input::placeholder{
    font-size: 24px;
}

h1{
    font-size: 1.8rem;
}