<h2 class="d-flex justify-content-between">
    <span>
        Feedback
    </span>
    <span class="d-flex">
        <label for="search" class="sr-only">Suche</label>
        <input class="form-control ml-3" id="search" type="search" placeholder="search" [(ngModel)]="searchText">
    </span>
</h2>

<div class="d-flex">
    <ul class="nav justify-content-center" *ngIf="loginService.isLoggedIn">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['..', 'all']" [routerLinkActive]="['active']">Feed</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['..', 'created']" [routerLinkActive]="['active']">Created</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['..', 'liked']" [routerLinkActive]="['active']">Liked</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['..', 'watchlist']" [routerLinkActive]="['active']">Later</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['..', 'watched']" [routerLinkActive]="['active']">History</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['..', 'reviewed']" [routerLinkActive]="['active']">Reviewed</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['..', 'review']" [routerLinkActive]="['active']">Review</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['..', 'feedback']" [routerLinkActive]="['active']">Feedback</a>
        </li>
    </ul>
</div>
<div *ngFor="let feedback of feedbacks; let i = index" class="item">
    <div class="card">
        <div class="card-body">

            <div class="h5 card-title pointer d-flex justify-content-between">
                {{feedback.title}}
                <i class="material-icons green pl-2" title="{{feedback.name}}">{{feedback.icon}}</i>
                <i class="material-icons action" title="Edit Item" *ngIf="loginService.isLoggedIn && loginService.user.role === 'admin'" [routerLink]="['..', { outlets: { itemModal: ['edit', feedback.id] } }]" tabindex="-1">edit</i>
            </div>
            <p class=" card-text text-muted d-block pointer" title="Open in a new Tab">{{feedback.description}}</p>
        </div>
        <div class="card-footer py-0 d-flex justify-content-between">
            <p class="my-auto">
                <span>{{feedback.username}}</span>: {{feedback.feedback}}
            </p>
            <div>
                <!-- <i class="material-icons action red" title="Delete Item" *ngIf="loginService.isLoggedIn && loginService.user.role === 'admin'" (click)="deleteItem(item.id)">delete</i> -->
                <!-- <i class="material-icons action" [routerLink]="['..', { outlets: { itemModal: ['item', item.id] } }]" title="give feedback" tabindex="-1">feedback</i> -->
                <i class="material-icons action red" title="Feedback löschen" (click)="deleteFeedback(feedback.feedback_id, i)">delete</i>
            </div>
        </div>
    </div>
</div>