<div *ngIf="loading" class="d-flex justify-content-center pt-2">
    <div class="spinner-border" role="status">
        <span class="visually-hidden sr-only">Loading...</span>
    </div>
</div>
<app-feedback-list-item *ngFor="let item of feedbacks; let i = index" [item]="item" class="item"></app-feedback-list-item>

<div *ngIf="moreAvailable && !loading" class="d-flex justify-content-center pb-3 pt-2">
    <button type="button" (click)="loadMore([], 10, feedbacks[feedbacks.length-1].id)" class="btn btn-secondary ">Weitere Laden</button>
</div>
<div *ngIf="feedbacks.length == 0 && !loading" class="alert alert-light m-2" role="alert ">
    There is no feedback. Good work! <i class="material-icons">celebration</i>
</div>