html {
    position: relative;
    min-height: 100%;
    /* font-size: 0.8rem; */
}

body {
    margin-bottom: 60px;
    margin-top: 5rem;
    background-color: #eeeeee;
}

.list-item {
    padding: 1.25rem 1.25rem 0 1.25rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
}

.icon-footer {
    border-top: solid 1px lightgray;
}

.item {
    padding-bottom: 1rem;
    display: inline-block;
    width: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}


/* fallback */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v55/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
    font-display: swap;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
    cursor: default;
    vertical-align: top;
}

.action {
    padding: .3rem;
    margin: .1rem;
}

.action:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-radius: 25%;
}

a:hover {
    cursor: pointer;
}

.modal-backdrop {
    z-index: 1031;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 .4rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.dialog {
    z-index: 1032;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 90%;
}

@media (min-width: 576px) {
    .dialog {
        max-width: 720px;
        /* min-width: 50%; */
    }
}

input[type="search"] {
    max-width: 3rem;
    border: none;
    padding-right: 0;
    background-color: transparent;
    cursor: pointer;
}

input[type="search"]:focus::placeholder {
    color: transparent;
    content: "";
    background-color: #fff;
}

input[type="search"]:focus {
    max-width: 20rem;
    border: 1px solid #ced4da;
    cursor: text;
}

input[type="search"]::placeholder {
    font-family: 'Material Icons';
    font-size: 24px;
    color: black;
}