<h2 class="d-flex justify-content-between">
    <span>
        You created
        <span class="badge badge-light">{{items.length}}</span>
    </span>
    <label for="search" class="sr-only">Suche</label>
    <input class="form-control ml-3" id="search" type="search" placeholder="search" [(ngModel)]="searchText">
</h2>
<div *ngIf="showNoItemHint" class="d-flex alert alert-light" role="alert">
    You can create an item by clicking the <i class="material-icons" title="plus">add_box</i>-Icon in the upper right corner.
</div>
<div class="card-columns">
    <app-list-item [items]="items" [searchText]="searchText"></app-list-item>
</div>