<ul class="nav justify-content-center" *ngIf="loginService.isLoggedIn">
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['list']">All</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['created']">Created</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['liked']" *ngIf="loginService.isLoggedIn">Liked</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['reviewed']" *ngIf="loginService.user.role=='admin'">Reviewed</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['review']" *ngIf="loginService.user.role=='admin'">Review</a>
    </li>
</ul>
<router-outlet></router-outlet>
<router-outlet name="itemModal"></router-outlet>