<h2 class="d-flex justify-content-between">
    <span>
        {{categories[selected].title}}
    </span>
    <span class="d-flex">
        <label for="search" class="sr-only">Suche</label>
        <input class="form-control ml-3" id="search" type="search" placeholder="search" [(ngModel)]="searchText">
    </span>
</h2>
<div class="d-flex">
    <ul class="nav justify-content-center" *ngIf="loginService.isLoggedIn">
        <li class="nav-item" *ngFor="let category of categoryArray; let i = index">
            <a class="nav-link" [routerLink]="[category.pattern]" [routerLinkActive]="['active']">{{category.name}}</a>
        </li>
    </ul>
    <div ngbDropdown placement="bottom-right" class="d-inline-block ml-auto">
        <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>Kategorie</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
            <div class="form-check mx-2" (click)="selectAllCategories()">
                <input class="form-check-input" type="checkbox" id="public" [(ngModel)]="allSelected">
                <label class="form-check-label">alle Ausgewählt</label>
            </div>
            <div class="dropdown-divider"></div>
            <form [formGroup]="selection">
                <div formArrayName="topics" class="px-2">
                    <div class="form-check" *ngFor="let topic of selectionFormArray.controls; let i = index" [formGroupName]="i">
                        <input class="form-check-input" type="checkbox" id="{{i}}" formControlName="selected" (change)="submit()">
                        <label class="form-check-label" for="{{i}}">
                            {{topic.value.name}}
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
<router-outlet name="itemModal"></router-outlet>