<nav class="navbar fixed-top">
    <div class="d-flex">
        <a class="navbar-brand d-flex" [routerLink]="['']" title="Home">
            <img src="../../assets/favicon.ico" width="49" height="50" class="d-inline-block align-top" alt="">
            <h1>
                Greenstream
            </h1>
        </a>
        <a class="menu-item" [routerLink]="['index']" [routerLinkActive]="['active']" title="Home">Home</a>
        <a class="menu-item" [routerLink]="['list']" [routerLinkActive]="['active']" title="Liste">Liste</a>
        <a class="menu-item" [routerLink]="['about']" [routerLinkActive]="['active']" title="Über uns">Über uns</a>
    </div>
    <div class="d-flex">
        <div class="nav-item" *ngIf="loginService.isLoggedIn" title="Add item">
            <i [routerLink]="['list', { outlets: { itemModal: ['new'] } }]" class="material-icons action" tabindex="-1">add_box</i>
        </div>
        <!-- <div class="nav-item" *ngIf="loginService.isLoggedIn" title="Account">
            <i [routerLink]="['me']" class="material-icons m-2">settings</i>
        </div> -->
        <div ngbDropdown class="d-inline-block">
            <button id="dropdownForm1" ngbDropdownToggle title="Account settings">
                <i class="material-icons action">account_circle</i>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownForm1" class="dropdown-menu dropdown-menu-right">
                <!-- <form class="px-4 py-3">
                            <div class="form-group">
                                <label for="exampleDropdownFormEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleDropdownFormEmail1"
                                    placeholder="email@example.com">
                            </div>
                            <div class="form-group">
                                <label for="exampleDropdownFormPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleDropdownFormPassword1"
                                    placeholder="Password">
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="dropdownCheck">
                                <label class="form-check-label" for="dropdownCheck">
                                    Remember me
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary">Sign in</button>
                        </form> -->
                <div *ngIf="!loginService.isLoggedIn">
                    <button ngbDropdownItem (click)="requestLogin()">Login</button>
                    <button ngbDropdownItem (click)="requestLogin(1)">Sign up</button>
                    <button ngbDropdownItem (click)="requestLogin(-1)">Forgot password?</button>
                </div>
                <div *ngIf="loginService.isLoggedIn">
                    <h5 class="dropdown-header">{{loginService.user.username}} ({{loginService.user.role}})
                    </h5>
                    <button ngbDropdownItem [routerLink]="['me']">Settings</button>
                    <span *ngIf="loginService.user.role=='admin'">
                        <div class="dropdown-divider"></div>
                        <!-- <button ngbDropdownItem class="d-flex">
                                <i class="material-icons pr-1">add_box</i>
                                Topic
                            </button>
                            <button ngbDropdownItem class="d-flex">
                                <i class="material-icons pr-1">add_box</i>
                                Type
                            </button>
                            <button ngbDropdownItem class="d-flex">
                                <i class="material-icons pr-1">add_box</i>
                                Language
                            </button>
                            <button ngbDropdownItem class="d-flex">
                                <i class="material-icons pr-1">add_box</i> other
                                User
                            </button> -->
                        <button ngbDropdownItem class="d-flex" [routerLink]="['import']">
                            <i class="material-icons">unarchive</i>
                            Import JSON
                        </button>

                    </span>
                    <div class="dropdown-divider"></div>
                    <button ngbDropdownItem (click)="doLogout()">Logout</button>
                </div>
            </div>
        </div>
    </div>
</nav>