
<nav class="navbar fixed-top navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['']" >
        <img src="../../assets/Nachhaltigkeitbutton.png" width="50" height="50" class="d-inline-block align-top" alt="">
        Greenstream
    </a>
    <div class="d-flex">
        <div class="nav-item" *ngIf="loginService.isLoggedIn">
            <i [routerLink]="['import']" class="material-icons m-2">unarchive</i>
        </div>
        <div class="nav-item" *ngIf="loginService.isLoggedIn">
            <i [routerLink]="[{ outlets: { itemModal: ['new'] } }]" class="material-icons m-2">add_box</i>
        </div>
        <div class="nav-item" *ngIf="loginService.isLoggedIn">
            <i [routerLink]="[{ outlets: { itemModal: ['settings'] } }]" class="material-icons m-2">settings</i>
        </div>
        <div  class="nav-item">
            <i (click)="requestLogin()" class="material-icons m-2">account_circle</i>
        </div>
    </div>
</nav>