<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <h3>Eimstellungen</h3>
            <i class="material-icons" [routerLink]="['']" title="Schließen">close</i>
        </div>
    </div>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="card-body">
            <h3>Sprache</h3>
            <div class="form-group m-0" formArrayName="orders"
                *ngFor="let order of ordersFormArray.controls; let i = index">
                <label>
                    <input class="" type="checkbox" [formControlName]="i">
                    {{languages[i].name}}
                </label>
            </div>
            <small>Select at least one language, otherwise english will be selected.</small>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger mr-auto" (click)="deleteAccount()">Account löschen</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-secondary" [routerLink]="['']">Close</button>
        </div>
    </form>
</div>